/* Menu */
header {
    position: sticky;
    top: 0px;
    z-index: 30;
    box-shadow: 0 0 35px #0009;

    .menu {
        background: url(../multimedia/nutrire-fondo.png);
        padding-inline: 50px;
        width: 100%;
        height: 100%;
    }

    .menu__list {
        margin: 0;
        text-align: center;
        padding: 5px;
    }

    .menu__item {
        display: inline-block;
        padding: 3px 25px;
    }
    
    .menu__link {
        color: #EDE1A5;
        text-decoration: none;
        padding: 5px;
        margin: 5px;
        transition: ease-out .4s;
    
        &:hover{
            color: #F5F5F4;
            font-size: 1.2em;
            transition: scale(2.5);
        }
    }

    /* NUTRIRE */
    .title {
    align-items: center;
    font-size: 5em;
    font-family: "Teko", sans-serif;
    transition: ease-out .4s;
    color: #000;

        &:hover {
        color: #EDE1A5;
        font-size: 5.4em;
        transition: scale(2.5);
    }
    }

    .link__title {
        text-decoration: none;
        }

    .header-mobile {
    display: none;
    }
}
/* Fin del menu */
