//variables de colores
$color-brown: #7D3F1F;
$color-orange: #D2B48C;
$color-green: #B3C19A;
$color-yellow: #EDE1A5;
$color-whitegrey: #F5F5F4;
$color-white: #fff;
$color-grey: #fffa;
$color-lightblue: #B2D6FF;
$color-footer: #0009;
$color-containproducts: #dbcdaf;
$color-black: #000;
$color-cream-carousel: rgba(255, 220, 190, 0.818);
$color-animation: rgba(125, 62, 31, 0.697);



